{ config, pkgs, ... }:

{
  imports = [
    ./pc-main.nix
    ./user-syobon-full.nix
    ./desktop-hyprland.nix

    ./applications/zsh.nix
    ./applications/neovim.nix
    ./applications/helix.nix

    ./applications/steam.nix
  ];

  environment.systemPackages = with pkgs; [
    prismlauncher
    osu-lazer-bin
    discord
    element-desktop
    obs-studio
    wineWowPackages.stableFull
    wineWowPackages.fonts
    winetricks
    virt-manager
    helix
    texlive.combined.scheme-full
    libreoffice-fresh
    cargo
    godot_4
    musescore
    calibre
  ];

  virtualisation.libvirtd.enable = true;
  programs.dconf.enable = true;

  programs.java.enable = true;

  services.logind.extraConfig = "RuntimeDirectorySize=1024M";
}