{ config, pkgs, ... }:

let
  user = home-manager.users.syobon;
in
{
  imports = [
    ./pc-main.nix
    ./user-syobon-full.nix
    ./desktop-i3.nix

    ./applications/zsh.nix
    ./applications/neovim.nix
    ./applications/helix.nix

    ./applications/steam.nix
  ];

  environment.systemPackages = with pkgs; [
    prismlauncher
    osu-lazer-bin
    discord
    element-desktop
    obs-studio
    wineWowPackages.stableFull
    wineWowPackages.fonts
    winetricks
    virt-manager
    helix
    texlive.combined.scheme-full
    libreoffice-fresh
    rustc
    rustfmt
    rust-analyzer
    clippy
    cargo
    godot_4
  ];

  virtualisation.libvirtd.enable = true;
  programs.dconf.enable = true;

  programs.java.enable = true;
}